#content {
       height: 672px;
       display: flex;
       gap: 20px;
       position: relative;
}
#content > #main {
       width: 226.51px;
       height: 98%;
       margin-top: 6px;
       overflow-y: auto;
       background-color: #EDEDED;
       border-radius: 5px;
}
#content > #listBar {
       border: 1px solid #ccc;
       height: 50px;
       width: 83.3%;
       position: absolute;
       transform: translate(248px , 5px);
       overflow-x: auto;
}
#content > #center {
       border-radius: 5px;
       width: 83.3%;
       height: 90%;
       transform: translateY(60px);
       overflow-y: auto;
       background-color: #EDEDED;
}
#content > .itemContent {
       scrollbar-width: thin;
       scrollbar-color: #cccccc00 #cccccc00;
}